.app {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;

    & a {
        color: black;
        display: inline-block;
        margin: 0px 20px;

        & :hover {
            text-decoration: none;
        }
    }
}
